@media only screen and (min-width:790px) {
    // NAVIGATIION BAR
    .navBar {
        justify-content: space-evenly;
        padding-inline: 5%;
        height: 40px;
    }
    

    .hamburger {
      display: none!important;
    
    }

    .menu {
        display: flex!important;
        flex-direction: row;
        justify-content: space-between;
        
        li {
            font-size: 0.8em;
            margin:20px;
        }
   
    }
    .search {
        display: initial!important;
        margin-left: auto;
        margin-right: 20px;
    }
    // DONATE
    .donate {
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    }
    // PROMO
    .promo {
        height: 84vh;
    }
    
    .promo h1 {
        font-size: 3em;
    }
  
    .promo p {
        font-size: 1.5em;
    }
    
    .shop-btn {
        font-size: 1.1em;
    }
    // PRODUCT
    .product-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 46.3vw;
        
    }
    .product {
        width: 46.3vw;
    }

    .terms {
        display: flex;
        flex-direction: row;
    }

    .SignInForm {
        input, button {  
            width:30vw;
        }
    }

    .LogInForm {  
        button {
            right: 3%;
        }
    }

    // PRODUCT DETAIL
    .productDetailContainer {
        flex-direction: row;
        height: 90vh;
    }

    .productDetail {
        h1 {
            margin: 20px;
            font-size: 2em;
        }
    }

    .ProductDetailImg {
        width:70vh;
    }

    .cartContainer {

        width: 60%;
        margin: 0 auto;
    }
    
}

